.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 180px;
    height: calc(100vh - 80px);
    padding: 1rem;
    box-sizing: border-box;
    padding-right: 0;
    border-right: 1px solid #0a1aca;
}
.nav-link {
    display: flex;
    
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    transition: background-color 0.3s;
    border: 1px solid #7880d0;
    border-right: none;
    margin-bottom: 1rem;
    text-align: right;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgb(15, 21, 86);
}

.nav-link span {
    display: flex;
    align-items: center;
}

.nav-link.active {
    font-weight: bold;
    border: 2px solid #0a1aca;
    border-right: none;
    color: #0a1aca;
}